<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | GreenHive</title>
    <link rel="stylesheet" href="../static/stylefeed.css">
    <link rel="shortcut icon" href="../static/logo.jpeg">
</head>
<body>
        <section id="feed">

            <div class="feed-heading">
                <span>Posts by Volunteer Groups</span>
                <h3>The GreenHive Feed</h3>
            </div>
            <div class="feed-container" id="feed-container">
                <div class="feed-box">
                    <div class="feed-img">
                        <img src="../static/trash.jpg" alt="Feed 1">
                    </div>
                    <div class="feed-text">
                        <span>31 March 2024 / Feed</span>
                        <a href="#" class="feed-title">Overflowing Trash Can near Army Public School</a>
                        <p>This area has been polluted for a long time, and needs fixing for students' safety </p>
                        <a href="#">Read More</a>
                    </div>
                </div>

                <div class="feed-box">
                    <div class="feed-img">
                        <img src="../static/cut.webp" alt="Feed 1">
                    </div>
                    <div class="feed-text">
                        <span>2 February 2024 / Feed</span>
                        <a href="#" class="feed-title">Illegal cutting of trees near Bannerghatta National Park</a>
                        <p>There has been a massive increase in cutting down of trees near the park.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>

                <div class="feed-box">
                    <div class="feed-img">
                        <img src="../static/anim.webp" alt="Feed 1">
                    </div>
                    <div class="feed-text">
                        <span>18 January 2024 / Feed</span>
                        <a href="#" class="feed-title">Abandoned Animals near Harohalli Junction, Kanakapura</a>
                        <p>These animals need shelter, else they may risk their lives finding proper shelter.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
        </section>
    <center><button onclick="new_post()" style="width: 200px; height: 40px; background-color: #BC4749; color: white; cursor: pointer;">Add Child</button></center>
    <script src="../static/scriptfeed.js"></script>
</body>
</html>