<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | GreenHive</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="shortcut icon" href="../static/logo.jpeg">
</head>
<body>

    
<header>
	<!-- Top header menu containing
		logo and Navigation bar -->
	<div id="top-header">
		<!-- Logo -->
		<div id="logo">
		
		</div>
        <img src="../static/logo.jpeg" width="150" height="100">
		<nav>
			<ul>
				<li class="active">
					<form action="/homeback" method="post">
                        <div>
                            <a href="/homeback">Home</a>
                        </div>
                    </form> 
				</li>
                <li>
                    <form action="/search" method="post">
                        <div>
                            <a href="/search">Volunteer</a>
                        </div>
                    </form>
                </li>
				
                <li>
					<form action="/feed" method="post">
                        <div>
                            <a href="/feed">Feed</a>
                        </div>
                    </form> 
				</li>
                
		    	<li>
					<form action="/loginback" method="post">
                        <div>
                            <a href="/loginback">Login</a>
                        </div>
                    </form> 
				</li>
			</ul>
		</nav>
	</div>
	<!-- Image menu in Header to contain an Image and
		a sample text over that image -->
	<div id="header-image-menu">
	</div>
</header>


    <main>
        <section class="hero">
            <div class="container1">
                <h1>SNAP, SHARE, SAVE!</h1>
                <p>Join the Buzz for a Greener Future with Green Hive: Where Sustainability Meets Community!</p>
            </div>
        </section>
            <section class="counter">
                    <div class="container">
                        <h2>Our Amazing Work</h2>
                        <div class="stats">
                            <div class="stat">
                                <span class="number" data-target="1200">0</span>
                                <span class="text"> Trees Planted</span>
                            </div>
                            <div class="stat">
                                <span class="number" data-target="250">0</span>
                                <span class="text"> Water Bodies Saved</span>
                            </div>
                            <div class="stat">
                                <span class="number" data-target="120">0</span>
                                <span class="text"> Number of cities</span>
                            </div>
                        </div>
                    </div>
                </section>
                <script src="../static/script.js"></script>
                

            
                
        </section>
        
    </main>
   
</body>
</html>
