<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | GreenHive</title>
    <link rel="stylesheet" href="../static/stylereg.css">
    <link rel="shortcut icon" href="../static/logo.jpeg">
</head>
<body>
    <div class="header">
        <img src="../static/logo.jpeg" id="logo">
    </div>
    <div id="hero">
        <h1 class="heading">REGISTRATION</h1>
        <div id="below-title">
            <div id="left-part">
                <img src="../static/person.jpeg" id="pfp">
                <button class="upload-pfp">Upload Profile Picture</button>
                <div id="login">Already a user? Login <a href="{{url_for('login')}}">here</a></div>
            </div>
            <div id="right-part">
                <div id="ip-fields">
                    <form method="post">
                        <div class="field-top">
                            <label for="username">Username: </label><br>
                            <input type="text" class="ip-field" placeholder="Enter your username" id="username" name="username">
                        </div>
                        <div class="field">
                            <label for="pwd">Password:</label><br>
                            <input type="password" class="ip-field" placeholder="Enter your password" id="pwd" name="pwd">
                        </div>
                        <div class="field">
                            <label for="confirm-pwd">Confirm Password: </label><br>
                            <input type="password" class="ip-field" placeholder="Retype your password" id="confirm-pwd" name="confirm-pwd">
                        </div>
                        <div class="field">
                            <label for="location">Location: </label><br>
                            <input type="text" class="ip-field" placeholder="Enter your location" id="location" name="location">
                        </div>
                        <div class="field">
                            <label for="contact-num">Contact Number: </label><br>
                            <input type="text" class="ip-field" placeholder="Retype your contact number" id="contact-num" name="contact-num">
                        </div>
                        <input type="submit" class="register-btn" value="Register">
                        <h3>{{error}}</h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="filler"></div>
</body>
</html>